version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    container_name: tienda_moviles_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tienda_moviles
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
